@import "./src/assets/styles/variebles.scss";
@import "./src/assets/styles/mixins.scss";

.create {
  @extend %loginBlock;
}

.caption {
  margin-top: 35px;
  @extend %loginCaption;
}

.inputWrap {
  margin-bottom: 25px;
}

.text {
  margin-bottom: 100px;

  font-size: 16px;
  text-align: left;

  @include media(xs) {
    margin-bottom: 50px;
  }
}

.button {
  max-width: 255px;

  margin-bottom: 20px;
}

