@import "./src/assets/styles/variebles.scss";
@import "./src/assets/styles/mixins.scss";

.buttonsContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}