@import "../../../assets/styles/variebles";
@import "../../../assets/styles/mixins";

.learnQuestion {
  @extend %learnBlock;
}

.caption {
  @extend %loginCaption;
  margin-bottom: 25px;
}

.block {
  margin-bottom: 80px;

  text-align: left;

  @include media(xs) {
    text-align: center;
  }
}

.action {
  @extend %sf600;
  font-size: 16px;
}

.text {
  @extend %sf400;
  font-size: 16px;
}

.btns {
  @include flex();

  padding-bottom: 25px;

  @include media(xs) {
    flex-direction: column-reverse;

    padding-bottom: 0;
  }
}

.button {
  max-width: 125px;
  margin: 0 5px 0 5px;

  @include media(xs) {
    max-width: 125px;
    margin-bottom: 30px;
  }
}

.button:first-child {
  @extend %btnCancel;
}

.button:last-child {
  max-width: 185px;
}



