
@font-face {
  font-family: 'SFUIDisplay';
  src:  url('../fonts/SFPUIDisplay/SFUIDisplay-Bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'SFUIDisplay';
  src:  url('../fonts/SFPUIDisplay/SFUIDisplay-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'SFUIDisplay';
  src:  url('../fonts/SFPUIDisplay/SFUIDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}


